#title {
  text-shadow: 1px 1px 0px #f7c8d8;
}

.input-group {
  display: block;
  width: 100%;
  margin-bottom: 1rem;

  > label {
    font-family: system-ui;
  }

  > input,
  > label {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 3px;

    border: 1px solid #333333;
  }

  > :nth-child(n + 2) {
    margin-left: -1px;
  }

  > input:first-child,
  > label:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  > input:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

#curve-container {
  min-width: "100%";
  min-height: "5rem";

  display: flex;
  justify-content: space-evenly;
}

#bird-svg,
#horizon-svg {
  border: 4px ridge #a75868;
}

#bird-container,
#horizon-container {
  display: flex;
  flex-direction: column;
}

#sim-container {
  display: flex;
  justify-content: space-evenly;
}

#regen-btn {
    padding: 10px;
    min-width: 25%;
    
    font-size: 2rem;

    border: 2px solid #333333;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    margin: 2rem auto;
}
