#title {
  text-shadow: 1px 1px 0px #f7c8d8;
}

.input-group {
  display: block;
  width: 100%;
  margin-bottom: 1rem;

  > label {
    font-family: system-ui;
  }

  > input,
  > label {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 3px;

    border: 1px solid #333333;
  }

  > :nth-child(n + 2) {
    margin-left: -1px;
  }

  > input:first-child,
  > label:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  > input:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

#curve-container {
  min-width: "100%";
  min-height: "5rem";

  display: flex;
  justify-content: space-evenly;
}

#bird-svg {
  border: 4px ridge #55c8d8;
}
#horizon-svg {
  border: 4px ridge #f7c8d8;
}

#bird-container,
#horizon-container {
  display: flex;
  flex-direction: column;
}

#sim-container {
  display: flex;
  justify-content: space-evenly;
}

#sim-btn-container {
  display: flex;
  justify-content: space-around;
}

.sim-btn {
    padding: 10px;
    min-width: 25%;
    
    font-size: 2rem;

    border: 2px solid #333333;
    border-radius: 3px;
    
    margin: 2rem auto;
}

#direction-btn-container {
  width: 150px;
  height: 150px;

  position: relative;
}

.dir-btn {
    font-size: 1.4rem;
    border: none;

    position: absolute;

}

.dir-btn:focus {
  outline: none;
}

#north {
  left: 61px;
  top: 10px;
}

#east {
  right: 15px;
  top: 61px;
}

#south {
  left: 61px;
  bottom: 15px;
}

#west {
  left: 10px;
  top: 61px;
}

#direction-svg {
  position: absolute;
  top: 50px;
  left: 50px;
}

#arrow-path {
  z-index: 9;
}

.current-dir {
  color: #f73979;
}